/* styling for div container background*/
.background-pic {
    background-image: url();
    background-size: cover;  
    background-repeat: no-repeat;
}

/*styling for body*/
body {
    overflow-x: hidden;
    
}
/* div class jumbtron styling */
#jb1{
    background:url("/Assets/2ndcoffeeshop.jpeg");
    background-size: cover; 
    background-repeat: no-repeat;
    color: #fff;  
}

.display-4 {
    text-align: center;
    font-family: 'The Nautigal', cursive;
}

.navbar {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.lead {
    text-align: center;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: 35px;
}

/* styling for h2 element */
h2 {
    text-align: center;
    font-family: 'Mochiy Pop P One', sans-serif;
}


/* styling for cnt1 */


#cnt1 {
    margin-bottom: 20px;
    background-color: gainsboro;
    
}


/*styling for cnt2*/
#cnt2 {
    margin-top: 20px;
    margin-bottom: 40px;
    background-color: gainsboro;
}

/*styling for cards*/
.card {
    font-size: 10px;
    text-align: center;
}

/* footer styling  */

#cntbg{
    background-color: gainsboro;

    padding: 0;
}

/*top 4 cards styling*/

#card1{
    border-radius: 45px;
    margin-bottom: 5px;
}

#pic1{
    border-radius: 45px 45px 0 0;
    
}

/*bottom 4 cards styling*/

#card2{
    border-radius: 45px;
    margin-bottom: 5px;
    margin-top: 10px;
}

#pic2{
    border-radius: 45px 45px 0 0;
    
}



/*styling for menu pop up*/
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

  /* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

  /* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

  /* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

  /* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}


/**CSS for login Page*/

body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button1 {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    border-radius: 50%;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

#blueman{
    width: 250px;
    border-radius: 120px 120px 120px 120px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

/*@ media */


